/* styles.css */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  background: #121212;
  color: #e0e0e0;
}

header {
  background: #023020;
  padding: 1.5rem 1rem;
  text-align: center;
  border-bottom: 1px solid #333;
}

h1 {
    font-family: 'Lexend', sans-serif;
    font-weight: 600;
    margin: 0;
    font-size: 2.5rem;
    font-weight: 600;
    color: #ffffff;
    letter-spacing: -0.5px;
}